<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>vrBank | {% block page_title %} {% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% include 'partials/_stylesheet.html' %}
    {% block customstyles %}{% endblock %}
  </head>
  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
      <div id="loading-center"></div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
    {% block content %}

    {% endblock content %}
    {% include 'partials/_script.html' %}
    {% block customscripts %}{% endblock customscripts %}
  </body>
</html>
